/* General blog styling */
.blog-post {
  font-family: "Arial", sans-serif;
  line-height: 1.8;
  color: #333;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  background: #fefefe;
  border-radius: 8px;
}

.blog-post h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}

.blog-post h2 {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.blog-post p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #555;
}

.blog-post a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border 0.3s;
}
.blog-post h2 a,
.blog-post h3 a,
.blog-post h4 a {
  border-bottom:unset;

}

.blog-post a:hover {
  border-bottom: 1px solid #222;
}

.blog-post ul,
.blog-post ol {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

.blog-post li {
  margin-bottom: 0.5rem;
}

.blog-post strong {
  font-weight: bold;
}

.blog-post blockquote {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f9f9f9;
  border-left: 4px solid #333;
  font-style: italic;
  color: #555;
}

.blog-post img {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
